<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/css/style.css">
    {{!-- for preloader css --}}

    <link rel="stylesheet" href="/css/preloader.css">
    <!-- for responsive  -->
    <link rel="stylesheet" href="/css/responsive.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- or font awesome 4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <body>


        {{!-- preloader process start --}}
        <div class="containerss">
            <div class="loaderss"><span></span></div>
            <div class="loaderss"><span></span></div>
            <div class="loaderss"><i></i></div>
            <div class="loaderss"><i></i></div>
        </div>
        {{!-- preloader process end --}}

        <!-- first section start -->
        {{>navbar}}
        <!-- first section end-->

        <!-- second section start -->

        <section class="f7728d4c _8c1ee087 text-center pe-5 mb-5">
            <div class="container">
                <div class="row">
                    <div class="pv5 ph3 tc white secondsec">
                        <div class="col-md-12 mx-auto">
                            <h1 class="build mb-4">Build amazing things</h1>
                            <div class="community text-center mx-auto mb-5">We're GitHub, the company behind the npm
                                Registry
                                and npm
                                CLI. We
                                offer
                                those
                                to the community
                                for free, but our day job is building and selling useful tools for developers like you.
                            </div>
                        </div>

                        <div class="center">
                            <h2 class="notch mb-3 ">Take your JavaScript development up a notch</h2>
                            <div class="community text-center mx-auto mb-5">Get started today for free, or step up to
                                npm Pro to enjoy a premium JavaScript
                                development
                                experience, with features like private packages.</div>
                            <div class="mt-5 buttons d-flex flex-wrap">
                                <div class="firstbtn"><a href="/signup"
                                        class="undefined undefined _353dca9c _748f7b74 db mw5-ns center pv3 ph4 b no-underline free">Sign
                                        up for free</a></div>
                                <div class="learn"><a href=""
                                        class="undefined undefined aad94569 _748f7b74 db mw5-ns center pv3 ph4 b no-underline white">Learn
                                        about Pro</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- second section end-->




        <!-- third section start -->


        <section class="sectionthird">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 thirdsecpart">
                        <div class="text-center"><img alt="" role="presentation"
                                src="https://static.npmjs.com/attachments/ck3uweazy72ye8874y9kkxnx1-gak.png"
                                class="pumkimg">
                            <h2 class="bringhead mb-3">Bring the best of open source to you, your team, and your company
                            </h2>
                            <div class="relied">Relied upon by more than 17 million developers worldwide, npm is
                                committed to making
                                JavaScript
                                development elegant, productive, and safe. The free npm Registry has become the center
                                of JavaScript
                                code sharing, and with more than two million packages, the largest software registry in
                                the world.
                                Our other tools and services take the Registry, and the work you do around it, to the
                                next level.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- third section end -->








        <!-- four section start -->

        <div class="npm-bg-gradient npm-band-thick" id="testimonials"></div>
        <section class="relative npm-bg npm-bg-hero py-5">
            <div class="mw6 center pa3 pv5 tc">
                <div class="npm-gaks z-0 dn db-l">
                    <img src="https://static.npmjs.com/attachments/ck3uweg8qmsoz9y74txzjbvsf-gak-left.png"
                        class="npm-gak-left pkimg" role="presentation">
                    <img src="https://static.npmjs.com/attachments/ck3uwemeymsvndr7415dj4nbf-gak-right.png"
                        class="npm-gak-right pkimg" role="presentation">
                </div>
                <div class="z-1 relative npmimg">
                    <img src="https://static.npmjs.com/attachments/ck3uwf52nmst29y749vru59k3-icon-pro-wombat-2x.png"
                        role="presentation">
                    <h1 class="f-subheadline-m f-subheadline-l f1 lh-title">Amazing</h1>
                    <div class="display">
                        Publish your own packages to the world's most popular software ecosystem
                    </div>
                    <div class="getstarted">
                        <a href="#get-started"
                            class="db mw5-ns center mb5 pv3 ph4 npm-btn-red npm-shadow-big b no-underline white"
                            aria-label="Get started by creating an npm account or upgrading your plan">
                            Get started
                        </a>
                    </div>
                </div>
            </div>

            <div class="pv3 mb-3 container cubeimages m-auto text-center">
                <div class="row m-auto firstnpm fstpart">
                    <div class="cube-img">
                        <img src="https://static.npmjs.com/attachments/ck3uwfr5emsypdr74d9l6s5or-public-packages.png">
                    </div>
                    <h2 class="f4 lh-title">Unlimited public packages</h2>
                    <div class="lh-copy">Bring the best of open source JavaScript development to your own
                        projects.
                    </div>
                </div>
                <div class="row foursec fstpart">
                    <div class="cube-img">
                        <img src="https://static.npmjs.com/attachments/ck3uwfnm573088874dn0juj5t-private-packages.png">
                    </div>
                    <h2 class="f4 lh-title">Unlimited private packages</h2>
                    <div class="lh-copy">Seamlessly integrate public and private packages into your development
                        cycle.</div>
                </div>
                <div class=" row  foursec fstpart">
                    <div class="cube-img">
                        <img
                            src="https://static.npmjs.com/attachments/ck3uwfhc572zu88746jmlkirv-package-based-permissions.png">
                    </div>
                    <h2 class="f4 lh-title">Package-based permissions</h2>
                    <div class="lh-copy">Add collaborators to work on your public and private packages together.
                    </div>
                </div>
            </div>
        </section>
        <!-- <div class="npm-bg-gradient npm-band-thick"></div> -->

        <!-- four section end -->




        <!-- section five start -->
        <section class="mt-5 npm-bg-teams">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <div class="fivesecimg">
                                <img src="https://static.npmjs.com/attachments/ck3uwg04jmswh9y74n3cgcj4k-teams-wombats.full.png"
                                    class="my-4" role="presentation">
                            </div>
                            <h2 class="fivehead">Working on a team?</h2>
                            <div class="trynpm my-3">Try npm Teams.</div>
                            <div class="fivesecpara mt-4 text-center">Team-based access controls to manage package
                                permissions
                                across <br>
                                your
                                organization.</div>
                            <div class="learn mt-5"><a href=""
                                    class="text-decoration-none aad94569 _748f7b74  pv3 ph4  learnaboutbutton">Learn
                                    about Teams</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section five end -->




        <!-- section six start -->
        <section class="text-center success mb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 m-auto">
                        <div class="secsix">
                            <div class="">
                                <div class="npm-bgs"></div>
                                <div class="feature text-center">
                                    <h2 class="Comparison">Feature Comparison</h2>
                                </div>
                                <div class="firstlist mt-2">
                                    <h3 class="featureComparisonHeading mt-4 mb-5">
                                        Unlimited public packages &amp;<br aria-hidden="true">
                                        automatic security warnings
                                    </h3>
                                    <ul class="featureComparisonList d-flex justify-center">
                                        <li class="lists">
                                            <div class="freez">Free</div>
                                            <div>
                                                <img alt="feature included"
                                                    src="https://static.npmjs.com/attachments/ck3uwdp9emssldr745565esyo-checkmark.png"
                                                    class="mt-3">
                                            </div>
                                        </li>
                                        <li class="lists">
                                            <div class="npm-red ">Pro</div>
                                            <div>
                                                <img alt="feature included"
                                                    src="https://static.npmjs.com/attachments/ck3uwdp9emssldr745565esyo-checkmark.png"
                                                    class="mt-3">
                                            </div>
                                        </li>
                                        <li class="lists">
                                            <div class="npm-red ">Teams</div>
                                            <div>
                                                <img alt="feature included"
                                                    src="https://static.npmjs.com/attachments/ck3uwdp9emssldr745565esyo-checkmark.png"
                                                    class="mt-3">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="bgcolor">
                                    <div class="mt-5 firstlist">
                                        <h3 class="featureComparisonHeading mb-5">Unlimited private packages</h3>
                                        <ul class="d-flex justify-center featureComparisonList">
                                            <li class="lists">
                                                <div class="freez">Free</div>
                                                <div>

                                                </div>
                                            </li>
                                            <li class="lists">
                                                <div class="npm-red ">Pro</div>
                                                <div>
                                                    <img alt="feature included"
                                                        src="https://static.npmjs.com/attachments/ck3uwdp9emssldr745565esyo-checkmark.png"
                                                        class="mt-3">
                                                </div>
                                            </li>
                                            <li class="lists">
                                                <div class="npm-red ">Teams</div>
                                                <div>
                                                    <img alt="feature included"
                                                        src="https://static.npmjs.com/attachments/ck3uwdp9emssldr745565esyo-checkmark.png"
                                                        class="mt-3">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="my-5 firstlist">
                                    <h3 class="featureComparisonHeading mt-4 mb-5">Unlimited team-based management
                                    </h3>
                                    <ul class="d-flex justify-center featureComparisonList">
                                        <li class="lists">
                                            <div class="freez">Free</div>

                                        </li>
                                        <li class="lists">
                                            <div class="npm-red ">Pro</div>

                                        </li>
                                        <li class="lists">
                                            <div class="npm-red ">Teams</div>
                                            <div>
                                                <img alt="feature included"
                                                    src="https://static.npmjs.com/attachments/ck3uwdp9emssldr745565esyo-checkmark.png"
                                                    class="mt-3">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="npm-bgs"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <small class="version"> All versions include basic support </small> -->
            </div>
        </section>
        <!-- section six end -->


        <!-- section seven start -->

        <section class="text-center sectionseven">
            <div class="container-fluid">
                <div class="row">
                    <h2 class="" id="get-started">Get Started</h2>
                    <div class="col-md-4 mb-5 mt-5 m-auto">
                        <div class="npm-bg-gradient npm-band-thick "></div>
                        <div class="cards">
                            <div class="">
                                <div class="numbers" id="head">1</div>
                                <h3 class="cardheading">Create an account</h3>
                                <div class="lhcopy">
                                    If you don't have one yet,<br>
                                    <a href="/signup" class="npm-reds mt-5"> create a free npm account </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-5 m-auto">
                        <div class="npm-bg-gradient npm-band-thick "></div>
                        <div class="cards">
                            <div class="">
                                <div class="numbers" id="heads">2</div>
                                <h3 class="cardheading">Upgrade your account</h3>
                                <div class="lhcopy">
                                    Log into your account and<br>
                                    <a href="" class="npm-reds"> upgrade your plan </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </section>
        <!-- section seven end -->



        <!-- eight section for only one button start niche mene comment kar diya ye responsive ness me thoda gadbad kar rh atha  -->

        <!--
        <section class="mb-5 m-auto">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10  d-block ">
                        <div class="learn eightsection"><a href=""
                                class="undefined undefined aad94569 _748f7b74 db mw5-ns center pv3 ph4 b no-underline white">Learn
                                about Pro</a></div>
                    </div>
                </div>
            </div>
        </section>
-->

        <!-- eight section for only one button end -->



        <!-- section nine start -->


        <section class="banner py-5">
            <div class="container">
                <div class="row footer">

                    <div class="col-md-12 pt-5 col-lg-3 logo-dem col-sm-12 xs-12">
                        <!-- icon social start -->
                        <ul class="wrapper">
                            <li class="icon facebook">
                                <span class="tooltip">Facebook</span>
                                <svg viewBox="0 0 320 512" height="1.2em" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                                    </path>
                                </svg>
                            </li>
                            <li class="icon twitter">
                                <span class="tooltip">Twitter</span>
                                <svg height="1.8em" fill="currentColor" viewBox="0 0 48 48"
                                    xmlns="http://www.w3.org/2000/svg" class="twitter">
                                    <path
                                        d="M42,12.429c-1.323,0.586-2.746,0.977-4.247,1.162c1.526-0.906,2.7-2.351,3.251-4.058c-1.428,0.837-3.01,1.452-4.693,1.776C34.967,9.884,33.05,9,30.926,9c-4.08,0-7.387,3.278-7.387,7.32c0,0.572,0.067,1.129,0.193,1.67c-6.138-0.308-11.582-3.226-15.224-7.654c-0.64,1.082-1,2.349-1,3.686c0,2.541,1.301,4.778,3.285,6.096c-1.211-0.037-2.351-0.374-3.349-0.914c0,0.022,0,0.055,0,0.086c0,3.551,2.547,6.508,5.923,7.181c-0.617,0.169-1.269,0.263-1.941,0.263c-0.477,0-0.942-0.054-1.392-0.135c0.94,2.902,3.667,5.023,6.898,5.086c-2.528,1.96-5.712,3.134-9.174,3.134c-0.598,0-1.183-0.034-1.761-0.104C9.268,36.786,13.152,38,17.321,38c13.585,0,21.017-11.156,21.017-20.834c0-0.317-0.01-0.633-0.025-0.945C39.763,15.197,41.013,13.905,42,12.429">
                                    </path>
                                </svg>
                            </li>
                            <li class="icon instagram">
                                <span class="tooltip">Instagram</span>
                                <svg xmlns="http://www.w3.org/2000/svg" height="1.2em" fill="currentColor"
                                    class="bi bi-instagram" viewBox="0 0 16 16">
                                    <path
                                        d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z">
                                    </path>
                                </svg>
                            </li>
                        </ul>
                        <!-- icon social end -->
                    </div>


                    <div class="col-md-6 col-lg-6 col-sm-12 xs-12">

                        <div class="pt-4 disks xs-12">
                            <h1 class="text-center disk">Made with 💖 By <span>Nitin Kumar</span></h1>
                            <div class="products dis">
                                <h1 class="quick">Quick Links</h1>
                                <a class="" href="/">Home</a>
                                <a class="" href="/products">All Services</a>
                                <a class="" href="/contact">Contact Us</a>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6 col-lg-3 col-sm-12 svg xs-12 about">

                        <!-- hover html start -->
                        <div class="box">
                            <span></span>
                            <div class="content">
                                <h2>Hover me!</h2>
                            </div>
                        </div>
                        <!-- hover html end -->

                    </div>
        </section>
        <div class="npm-bg-gradient npm-band-thick"></div>

        <!-- section nine end -->
        <script>
            //js for loaderbefore loading page
            // Wait for the page to fully load
            window.addEventListener('load', function () {
                // Hide the preloader
                document.querySelector('.containerss').style.display = 'none';
            });
            // Wait for the page to fully load
            window.addEventListener('load', function () {
                // Hide the preloader
                document.querySelector('.containerss').style.display = 'none';

            });
        </script>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

        <!-- number generate js -->
        <script>

            /*  // yha dekha ha ki check karke number generate ho rha ha ya nhi niche jitna bhi comment kiya hua ha wo password crack ka ha javascript folder se liya ha
            function f() {
                let r = Math.random();
                let ceil = Math.ceil(r);
                console.log(ceil);
            }
            setInterval(f, 1000);*/



            function crak() {
                let c = document.querySelector('#head').innerHTML;
                let a1 = 1;
                let b1 = 99;
                let r1_100 = a1 + (b1 - a1) * Math.random();
                let ceil = Math.ceil(r1_100);

                document.querySelector('#head').innerHTML = ceil;
                /* 

                if (ceil === c) {
                    alert("Alert ! , crack your password");
                     console.log('Alert ! , crack your password 
                     
                    clearInterval(s);
                }
              */
                // console.log("your password is  ", ceil);
            }
            var s = setInterval(crak, 1000);

            // clearInterval(s);


            // second card ke number ke liye upper wala first card ke number ke liye h
            function craks() {
                let c = document.querySelector('#heads').innerHTML;
                let a1 = 1;
                let b1 = 99;
                let r1_100 = a1 + (b1 - a1) * Math.random();
                let ceil = Math.ceil(r1_100);

                document.querySelector('#heads').innerHTML = ceil;
                /* 

                if (ceil === c) {
                    alert("Alert ! , crack your password");
                     console.log('Alert ! , crack your password 
                     
                    clearInterval(s);
                }
              */
                // console.log("your password is  ", ceil);
            }
            var s = setInterval(craks, 1000);

        </script>
    </body>

</html>